.card-header {
    color: #3366ff;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-header-actions {
    color: #3366ff;
    font-size: 1rem;
}

.full-width {
    width: 100%;
    min-width: 150px;
    max-width: 450px;
    max-height: 300px;
}

